<section id="contact-section" class="background">
  <app-section-introduction
    [sectionTitle]="'Contact'"
    [sectionDescription]="
      'Do you have an interesting project that you want me to build? Would you like to get in touch with me? Feel free to contact me through any of these social media platforms.'
    "
  ></app-section-introduction>
  <div class="contact-social-media-btns-container">
    <div
      class="contact-social-media-btn"
      *ngFor="let socialMediaLink of socialMediaLinks"
    >
      <app-btn-social-media
        [socialMediaLink]="socialMediaLink"
      ></app-btn-social-media>
    </div>
  </div>
</section>
