.background {
  background-color: var(--darker-blue);
  padding: 35px 0;
}

.contact-social-media-btn {
  margin: 0 20px;
}

.contact-social-media-btns-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
