.navbar {
  position: fixed;
  width: 100%;
  height: 3.8rem;
  z-index: 1;
  background-color: var(--light-blue);
}

.navbar-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  cursor: pointer;
  font-size: 20px;
  margin: 20px 50px;
  color: white;
  position: relative;
}

.navbar-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 3px solid var(--darker-blue);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navbar-item:hover {
  color: var(--darker-blue);
}

.navbar-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: var(--darker-blue);
  margin: 5px;
}

.close-navbar-btn {
  display: none;

  font-size: 28px;
  color: var(--darker-blue);
}



@media (max-width: 600px) {
  .navbar-items {
    display: flex;
    position: absolute;
    top: 0;
    left: -45vw;
    height: 100vh;
    width: 45vw;
    z-index: 1;
    transform: translateX(0);
    transition: transform 500ms;

    background-color: var(--light-blue);
    flex-direction: column;
  }

  .burger {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 25%;
  }

  .navbar-items.navbar-active {
    transform: translateX(45vw);
  }

  .navbar-background {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-background.navbar-active {
    display: block;
  }

  .close-navbar-btn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
