<nav class="navbar">
  <ul class="navbar-items">
    <ic-icon class="close-navbar-btn" [icon]="'icon_close'" (click)="toggleNavigationBar()"></ic-icon>
    <li class="navbar-item" (click)="goToSection('skillset-section')">
      Skillset
    </li>
    <li class="navbar-item" (click)="goToSection('projects-section')">
      Projects
    </li>
    <li class="navbar-item" (click)="goToSection('contact-section')">
      Contact
    </li>
  </ul>
  <div class="burger" (click)="toggleNavigationBar()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="navbar-background"></div>
</nav>
