<section class="background hero-container">
  <div class="hero-gif">
    <img src="../../../assets/hero_gif.gif" />
  </div>
  <div class="hero-content">
    <div class="hero-details">
      <div class="hero-name">
        <h2>
          Darash <br />
          Chablani
        </h2>
      </div>
      <div class="hero-description">
        <p>Front End Web Developer</p>
        <p>App Developer</p>
      </div>
    </div>
    <div class="get-in-touch-btn" (click)="goToContactSection()">GET IN TOUCH</div>
  </div>
</section>
