.projects-container {
  background-color: var(--dark-blue);
  padding: 35px 0;
}

.list-projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
}

.projects-more-info-text {
  color: white;
  font-size: 25px;
}

.btn-github {
  cursor: pointer;
  width: 125px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1.5rem;
  border-radius: 10px;
  padding: 6px 0;
  box-shadow: 3px 3px 2px var(--btn-shadow);
}

.btn-github:hover {
  background-color: var(--white-hover);
}

.icon-github {
  display: flex;
  font-size: 25px;
  color: var(--darker-blue);
}

.icon-github-title {
  font-size: 18px;
  height: 18px;
  font-weight: bold;
  color: var(--darker-blue);
}

@media (max-width: 900px) {
  .btn-github {
    margin-left: 2rem;
  }

  .projects-more-info-text {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .projects-more-info {
    flex-direction: column;
  }

  .btn-github {
    margin-left: 0;
    margin-top: 1rem;
  }
}
