.skillset-info-container {
  background-color: var(--dark-blue);
  height: 400px;
  width: 550px;
  margin: 15px 0;
  padding: 25px 40px;
  border-radius: 20px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.2);
}

.icon {
  font-size: 50px;
  display: flex;
}

.skillset-info-title {
  padding: 0.7rem 0;
  font-size: 22px;
  font-weight: bold;
}

.skillset-info-description {
  padding: 0.7rem 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.skillset-info-languages {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .skillset-info-container {
    width: 430px;
  }
}

@media (max-width: 900px) {
  .skillset-info-container {
    width: 90%;
    margin: 15px auto;
    height: auto;
  }
}

@media (max-width: 600px) {
  .skillset-info-title {
    font-size: 18px;
  }

  .skillset-info-description {
    font-size: 14px;
  }
}
