<a
  *ngIf="project"
  href="{{ project.project_link }}"
  target="_blank"
  class="project-info-container"
>
  <div class="project-info-data">
    <div class="project-info-title">{{ project.name }}</div>
    <div class="project-info-description">
      {{ project.description }}
    </div>
    <div class="project-info-languages">
      <app-language-info
        *ngFor="let languageInfo of project.languages"
        [languageInfo]="languageInfo"
      ></app-language-info>
    </div>
  </div>
  <div class="project-info-images">
    <img
      *ngFor="let img of project.images"
      class="project-info-demo"
      src="{{ img }}"
      width="{{ setWidth() }}"
      height="200"
      alt=""
      srcset=""
    />
  </div>
</a>
