.language-info-container {
  background-color: var(--light-blue);
  padding: 5px 10px;
  margin: 10px 5px 0 5px;
  width: 120px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 25px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.language-info-name {
  font-size: 12.5px;
  height: 12px;
}

.language-info-icon {
  display: flex;
  font-size: 20px
}

.icon-android-studio {
  color: var(--color-android-studio);
}

@media (max-width: 600px) {
  .language-info-container {
    width: 100px;
  }

  .language-info-name {
    font-size: 10.5px;
    height: 10px;
  }

  .language-info-icon {
    font-size: 16px;
  }
}
